<div class="row">
  <div class="col-md-5">
    <app-burgers-list
      (burgerWasSelected)="selectedBurgers = $event">
    </app-burgers-list>
  </div>
  <div class="col-md-7">
    <app-burgers-detail
      *ngIf="selectedBurgers; else infoText"
      [burger]="selectedBurgers">
    </app-burgers-detail>

    <ng-template #infoText>
      <p>Please select a Burger</p>
    </ng-template>

    <ng-template #dangerText>
      <p>Danger Text</p>
    </ng-template>

    <ng-template #strangeText>
      <p>Strange Text</p>
    </ng-template>

    <ng-template #scaryText>
      <p>Scary Text</p>
    </ng-template>
  </div>
</div>
